/* styles.scss */
@import "compass/reset";
@import "compass/css3/transform";
@import "slider";
@import "variables";

@mixin type {
  font-family: $font-stack;
  font-weight: 200;
  font-size: $reg-type;
  color: $black;
  text-decoration: none;
  line-height: $line-height;
}

@mixin transition($duration) {
  -webkit-transition: all $duration ease;
  -moz-transition: all $duration ease;
  -ms-transition: all $duration ease;
  -o-transition: all $duration ease;
  transition: all $duration ease;
}

@mixin column($width) {
  position: relative;
  width: $width;
  display: inline-block;
  img {
    max-width: 80%;
    height: auto;
    position: absolute;
  }
}

@mixin caption {
  @include type;
  font-size: $caption-type;
}

@mixin small-type {
  @include type;
  font-size: $small-type;
}

@mixin regular-type {
  @include type;
  font-size: $reg-type;
}

@mixin large-type-20 {
  @include type;
  font-size: $large-type-20;
  line-height: 32px;
}

@mixin large-type-24 {
  @include type;
  font-size: $large-type-24;
  line-height: 32px;
}

@mixin massive-type {
  @include type;
  font-size: $massive-type;
}

// - - - - - - - - - - - - - - - -  Page elements - - - - - - - - - - - - - - - - - //

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  @include type;
}

// .body-content {
//   position: relative;
// }

#container {
  &.fixed-top {
    position: absolute;
    top: 82px;
    #secondary-nav {
      position: fixed;
      top: 82px;
    }
  }
}

header {
  width: 100%;
  position: fixed;
  z-index: 400;
}

#content {
  background: white;
  position: relative;
  padding-top: 82px;
  padding-left: 10%;
  padding-right: 10%;
  z-index: 400;
  bottom: 0;
}

#everything #container {
  margin: 0 2%;
}

.centering {
  // handles centering on desktop
  @include respond-to(handhelds) {
    width: 90%;
  }

  @include respond-to(medium-screens) {
    width: 85%;
  }

  @include respond-to(wide-screens) {
    width: 80%;
    max-width: 1600px;
  }

  margin: 0 auto;
}

a, p, li, h1, h2, h3 {
  @include type;
  list-style: none;
}

h1 {
  &.page-title {
    z-index: 200;
    position: fixed;
    @include massive-type;
    text-align: center;
    padding: 0 33.33%;
    top: 50%;
  }
}

.slide-title {
  text-align: center;
  width: auto;
  h2 {
    font-size: 24px;
    padding: 28px 45px 25px 45px;
    background: white;
    display: inline-block;
  }
}

.logo {
  background-image: url(../images/svg/logo.svg);
  position: absolute;
  z-index: 300;
  top: 50px;
  left: calc(50% - 212px);
  width: 425px;
  height: 10px;
  text-align: center;
  @include respond-to(handhelds) {
    background-image: url(../images/svg/logo_mob.svg);
    left: calc(50% - 112px);
    width: 225px;
    height: 25px;
  }
}

// Navigation styling

#main-nav {
  position: fixed;
  bottom: 0px;
  padding: 30px 0px;
  width: 80%;
  z-index: 9999;
  ul {
    li {
      display: inline;
      margin-right: 16px;
      a {
        @include small-type;
        border-bottom: none;
        color: white;
      }
    }
  }
  &.relative {
    position: relative;
    width: 100%;
    margin-top: -82px;
    a {
      color: $black;
      @include transition(0.3s);
      border-bottom: solid 1px rgba(255, 255, 255, 0);
      &:hover {
        @include transition(0.3s);
        border-bottom: solid 1px $black;
        padding-bottom: 5px;
      }
    }
  }
  &.fixed-top {
    position: fixed;
    top: 0px;
    bottom: initial;
    a {
      color: $black;
    }
  }
}

#secondary-nav {
  display: none;
  z-index: 9999;
  position: relative;
  padding-bottom: 90px;
  ul {
    li {
      margin-bottom: 3px;
      a {
        @include large-type-20;
        color: $brown;
      }
    }
  }
  &.inline {
    ul {
      margin-top: -20px;
      li {
        display: inline;
        margin-right: 20px;
        a {
          @include small-type;
          color: $brown;
        }
      }
    }
  }
  a {
    @include transition(0.3s);
    border-bottom: solid 1px rgba(255, 255, 255, 0);
    &:hover {
      @include transition(0.3s);
      color: $brown;
      border-bottom: solid 1px $brown;
      padding-bottom: 3px;
    }
  }
}

// Page elements

.stamp {
  float: left;
  width: 25%;
}

footer {
  background: white;
  position: relative;
  width: 100%;
  float: right;
  padding: 200px 0 30px 0;
}

footer > * {
  @include small-type;
  position: relative;
  display: inline-block;
  margin-left: 10%;
  padding-bottom: 30px;
  left: 35%;
}

// Classes for fixes and elements

.white {
  color: white !important;
  a {
    color: white !important;
  }
}

.right {
  float: right;
}

.clear-fix {
  clear: both;
}



// items for packery

.item {
  .project-thumbnail {
    height: 0px;
    text-align: center;
    &:hover {
      h3 {
        opacity: 1;
        @include transition(0.3s);
      }
    }
    h3 {
      @include transition(0.5s);
      position: relative;
      z-index: 9999;
      @include regular-type;
      padding: 18px 30px 16px 30px;
      background: white;
      display: inline-block;
      text-align: center;
      opacity: 0;
    }
    img {
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}


// Adds a grid for packery

// .gutter-sizer {
//   width: 2%;
// }

// .grid-sizer {
//   width: 18.4%;
// }

// 

.w1 {
  background: aqua;
  width: 560px;
  height: 350px;
  z-index: 300;
  margin-left: 0%;
}

.w2 {
  background: aqua;
  width: 430px;
  height: 500px;
  z-index: 100;
  margin-left: 1%;
  margin-top: 2%;
}

.w3 {
  background: aqua;
  width: 430px;
  height: 470px;
  z-index: 300;
  margin-left: 1%;
}

.w4 {
  width: 520px;
  height: 650px;
  z-index: 100;
  margin-left: 1%;
}

.thumb {
  background: aqua;
  width: 21%;
  height: 280px;
  z-index: 100;
  margin-top: 5%;
  img {
    width: 100%;
    height: auto;
  }
}
