/* styles.scss */

@import "compass/reset";
@import "compass/css3/transform";
@import "slider";
@import "variables";

@mixin type {
  font-family: $font-stack;
  font-weight: 200;
  font-size: $reg-type;
  color: $black;
  text-decoration: none;
  line-height: $line-height;
}

@mixin transition($duration) {
  -webkit-transition: all $duration ease;
  -moz-transition: all $duration ease;
  -ms-transition: all $duration ease;
  -o-transition: all $duration ease;
  transition: all $duration ease;
}

@mixin column($width) {
  position: relative;
  width: $width;
  display: inline-block;
  img {
    max-width: 80%;
    height: auto;
    position: absolute;
  }
}

@mixin caption {
  @include type;
  font-size: $caption-type;
}

@mixin small-type {
  @include type;
  font-size: $small-type;
}

@mixin regular-type {
  @include type;
  font-size: $reg-type;
}

@mixin large-type-20 {
  @include type;
  font-size: $large-type-20;
  line-height: 32px;
}

@mixin large-type-24 {
  @include type;
  font-size: $large-type-24;
  line-height: 32px;
}

@mixin massive-type {
  @include type;
  font-size: $massive-type;
}

// - - - - - - - - - - - - - - - -  Page elements - - - - - - - - - - - - - - - - - //

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  @include type;
}

.body-content {
  position: relative;
}

#container {

	  &.fixed-top {
      position: absolute;
      top: 82px;

		 .secondary-nav {
			position: fixed;
      		top: 82px; 
		}

    }
}

.page-wrap {
  // nothing should happen here till mobile
}

.center-wrap {
  // handles centering on desktop
  @include respond-to(handhelds) {
    width: 90%;
  }

  @include respond-to(medium-screens) {
    width: 85%;
  }

  @include respond-to(wide-screens) {
    width: 80%;
    max-width: 1600px;
  }

  margin: 0 auto;
}

a, p, li, h1, h2, h3 {
  @include type;
  list-style: none;
}

.slide-title {

	text-align: center;
	width: auto;

	h2 {
		font-size: 24px;
		padding: 25px 45px;
		background: white;
		display: inline-block;
	}

}



.logo {
  background-image: url(../images/svg/logo.svg);
  position: absolute;
  top: 50px;
  left: calc(50% - 212px);
  width: 425px;
  height: 10px;
  text-align: center;
  @include respond-to(handhelds) {
    background-image: url(../images/svg/logo_mob.svg);
    left: calc(50% - 112px);
    width: 225px;
    height: 25px;
  }
}

// Navigation styling

nav {
  &.main-nav {
    position: absolute;
    bottom: 0px;
    padding: 30px 0px;
    width: 80%;
    z-index: 9999;
    ul {
      li {
        display: inline;
        margin-right: 16px;
        a {
          @include small-type;
          border-bottom: none;
          color: white;
        }
      }
    }
    &.relative {
      position: relative;
      width: 100%;
      a {
        color: $black;
      }
    }
    &.fixed-top {
      position: fixed;
      top: 0px;
      bottom: initial;
      a {
        color: $black;
      }
    }
  }
  &.secondary-nav {
    position: relative;
    padding-bottom: 90px;
    ul {
      li {
        margin-bottom: 3px;
        a {
          @include large-type-20;
          color: $brown;
        }
      }
    }
  }
  a {
    @include transition(0.3s);
    border-bottom: solid 1px #fff;
    &:hover {
      @include transition(0.3s);
      color: $brown;
      border-bottom: solid 1px $brown;
      padding-bottom: 3px;
    }
  }
}

// Page elements

aside {
  float: left;
  width: 25%;
}

footer {
  width: 100%;
  float: right;
  margin: 60px 0 30px 0;
}

footer > * {
  @include small-type;
  position: relative;
  display: inline-block;
  margin-left: 10%;
  padding-bottom: 30px;
  left: 35%;
}

// Classes for fixes and elements

.white {
  color: white !important;
  a {
    color: white !important;
  }
}

.right {
  float: right;
}

.clear-fix {
  clear: both;
}



.item {  

.project-thumbnail {
    height: 0px;
    text-align: center;

    h3 { 
    
    @include regular-type;
    padding: 16px 30px;
    background: white;
    display: inline-block;
    text-align: center;


  }

}


}


    .w1 { background: aqua;  height: 350px;  width: 560px; }
    .w2 { background: blue;  height: 500px;  width: 430px; }
    .w3 { background: green; height: 470px;  width: 430px; }
    .w4 { background: green; height: 650px;  width: 520px; }

